name: 'version:pr'

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v6

      - name: 'Run test suite'
        run: make test
